
.display-4 {
  text-align: center;
  font-family: 'Fondamento', cursive;
  text-decoration: underline;
}

h2 {
  font-family: 'Fondamento', cursive;
  text-decoration: underline; 
}

.jumbotron {
  background-color: palevioletred;
  color: lightgray;
}

body {
  width: 100%;
  color: lightgray;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 20px;
  background-image: url("../images/pink dust.png");
}

.right-side {
  text-align: center;
  font-size: 22px;
  margin-left: 200px;
  color: black;
}

.card-body {
  background-color: lightgray;
}

img {
  width: 200px;
  margin: 35px;
}